@import "modern-normalize.css";

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
}

button {
	padding: 0;
	margin: 0;
	border: none;
}

:root {
	--main-bg-color: #2f303a;
	--another-bg-color: #f5f4fa;
	--link-f-h-color: #2196f3;
	--main-color: #212121;
	--another-color: #757575;
}

body {
	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
	height: auto;
	background: #fff;
	color: var(--main-color);
	font-size: 14px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.selector {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* header */
header {
	border-bottom: 1px solid #ececec;
}

.header {
	padding: 24px 15px;
	display: flex;
	align-items: center;
}

.logo {
	display: inline-block;
	color: var(--main-color);
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.blue-text {
	color: var(--link-f-h-color);
}

.links {
	display: flex;
}

.nav-items {
	display: flex;
	margin-left: 93px;
}
.nav-items .item:not(:last-child) {
	margin-right: 50px;
}

.nav-items-link {
	color: var(--main-color);

	font-weight: 500;
	line-height: 1.15;
}

.nav-items-link:hover,
.nav-items-link:focus {
	color: var(--link-f-h-color);
}
.nav-items-link.current {
	color: var(--link-f-h-color);
}

.contacts-items {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.contacts-item:not(:last-child) {
	margin-right: 50px;
}

.contacts-items-link {
	display: inline-flex;
	align-items: center;

	font-weight: 500;
	line-height: 1.15;

	color: var(--another-color);
}

.contacts-link-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts-items-link:hover,
.contacts-items-link:active {
	color: var(--link-f-h-color);
}

/* Секція з основним текстом */
.section-main-title {
	padding: 200px 0;
	text-align: center;
	position: relative;
	background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bg-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.main-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.38;
	text-transform: uppercase;
}

.btn {
	padding: 10px 32px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: #fff;

	background: var(--link-f-h-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.btn:hover,
.btn:active {
	background: #188ce8;
}

/* Job section */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 94px;
}
.section-item-icon {
	display: flex;
	justify-content: center;
	padding: 25px 0;
	margin-bottom: 30px;
	border-radius: 4px;
	background-color: #f5f4fa;
}

.section-item-title {
	margin-bottom: 10px;

	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.section-item-text {
	display: block;
	width: 270px;
	color: var(--another-color);
	line-height: 1.8;
	letter-spacing: 0.03em;
}

.section-title {
	margin-bottom: 50px;
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
}

.work-photos {
	display: flex;
	justify-content: space-between;
}

/* Teams section */
.teams {
	background: var(--another-bg-color);
}

.team-items {
	display: flex;
	justify-content: space-between;
}

.team-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.teams-name {
	margin: 30px 0 10px 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
}
.teams-job {
	display: block;
	margin-bottom: 16px;

	color: var(--another-color);
	font-size: 16px;
	line-height: 1.18;
}

.social-items {
	display: flex;
	align-items: center;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.social-link:hover,
.social-link:active {
	background-color: var(--link-f-h-color);
}
.social-items li + li {
	margin-left: 10px;
}

.link-icon {
	fill: #afb1b8;
}
.social-link:hover .link-icon,
.social-link:active .link-icon {
	fill: #fff;
}

/* clients */
.client-items {
	display: flex;
}
.client-items li + li {
	margin-left: 30px;
}
.client-item-link {
	display: inline-block;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	padding: 14px 32px;
	color: #afb1b8;
}

.client-item-icon {
	fill: currentColor;
}
.client-item-link:hover,
.client-item-link:active {
	color: var(--link-f-h-color);
	fill: currentColor;
	border-color: var(--link-f-h-color);
}
/* Footer */
.footer {
	padding: 60px 0;
	background: var(--main-bg-color);
	color: #fff;
}
.foooter-flex {
	display: flex;
}
.foooter-flex-item + .foooter-flex-item {
	padding-top: 12px;
	margin-left: 70px;
}
.footer .logo {
	color: inherit;
}

.footer address {
	margin-top: 20px;
}

.footer-contact-link {
	color: inherit;
	line-height: 1.7;
}

.footer-contact-link:focus,
.footer-contact-link:hover {
	color: var(--link-f-h-color);
}

.footer-contact:nth-child(3),
.footer-contact:nth-child(2) {
	margin-top: 9px;
	opacity: 0.6;
}

.social-title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-icon {
	background: rgba(255, 255, 255, 0.1);
}
.footer-icon > .link-icon {
	fill: #fff;
}

/* portfolio */
/* filter */

.filter-items {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter-item {
	margin: 0 4px;
}
.filter-btn {
	padding: 6px 22px;
	border-radius: 4px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: 0.03em;
	background: #f5f4fa;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #fff;
	background: var(--link-f-h-color);
	cursor: pointer;
}

/* feature */

.feature-items {
	display: flex;
	margin: -15px;
	flex-wrap: wrap;
}

.feature-items > .item {
	margin: 15px;
}
.feature-items > .item:hover,
.feature-items > .item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.feature-border {
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding: 20px 24px;
}

.feature-title {
	color: var(--main-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.feature-text {
	color: var(--another-color);
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
}
